#toTopButton {
  display: none; /* Når brugeren starter på siden, er knappen hidden */
  position: fixed; /* Når der scrolles på siden, bliver knappen siddende hvor den er */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Sikrer at knappen ikke bliver overlappet */
  border: none; /* Fjerner border */
  outline: none; /* Fjerner outline */
  background-color: rgb(109, 169, 169);
  color: rgb(218, 218, 218); /* Neutral tekst farve */
  cursor: pointer; /* Tilføjer en mouse pointer til hover funktion */
  padding: 15px;
  border-radius: 10px; /* Tilføjer runde hjørner */
  font-size: 18px;
}

#toTopButton:hover {
  background-color: rgb(239, 180, 79);
}

.wrapper {
    display:grid;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p{
    font-family: 'Montserrat', sans-serif;


}
h2{
  margin-bottom: 5px;
  text-align: left;
}



.check{
  margin: auto;
}
button{
  width: 120px;
  height: 60px;
  margin: auto;
  background-color: rgb(109, 169, 169);
  border-radius: 5px;
  color:white;
  border:none;
  padding-bottom: 7px;

}

button h2{
  text-align: center;
}

#pop, p{
  text-align: center;
}

b{
  color:red;
}

#text{
  color:white;
  background-color: #5CAE1E;
  height: 60px;
  display: none;
  border-radius: 5px;

}

hr{
  width:100%;
}

#pop {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 60%;
height: 100%;
background-color: #F6F6F3;
display:none;
z-index: 100;
}

#btnpop{
  width:500px;

}

#end {
  border-radius: 100%;
  background-color: rgb(109, 169, 169);
  width:50px;
  height: 50px;
  float:left;
  margin: 10px;

}

#end h1{
  margin: 0px;
  margin-top: 7px;
}

.pic {
  height: 392px;
  width:40%;
  background-image:url("../images/photo-1491438590914-bc09fcaaf77a.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  float:right;
  border-radius: 5px;
}
.about {
  width:200px;

}

.about p{
  line-height: 27px;
  width: 500px;

}

.box{
  width:70%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 900px) {
  .pic {
    display:none;
  }
  #btnpop{
    width:60%;
  }
  .about p{
    width:90%;
  }
}
