#toTopButton {
  /*display: none; /* Når brugeren starter på siden, er knappen hidden */
  position: fixed; /* Når der scrolles på siden, bliver knappen siddende hvor den er */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Sikrer at knappen ikke bliver overlappet */
  border: 1px solid #575656;
  outline: none; /* Fjerner outline */
  background-color: rgb(109, 169, 169);
  color: rgb(218, 218, 218); /* Neutral tekst farve */
  cursor: pointer; /* Tilføjer en mouse pointer til hover funktion */
  padding: 15px;
  border-radius: 10px; /* Tilføjer runde hjørner */
  font-size: 18px;
}

#toTopButton:hover {
  background-color: rgb(239, 180, 79);
}

html{

--bg: #FCFCFC;
--bg-panel: #EBEBEB;
--color-headings: #6DA9A9;
--color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #6DA9A9;
  --color-text: #b5b5b5;
  
}


body{
  background-color: var(--bg);
}

.container{
background-color: var(--bg-panel);
margin: 5em;
padding: 5em;
border-radius: 15px;

display: grid;
grid-template-columns: 80% auto;
grid-template-rows: auto auto;
grid-template-areas: 
"title switch"
"content content";



}

.h1-dark{
  margin: 0;
  color: var(--color-headings);

}

.p-dark{
  color: var(--color-text);
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 2em;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

















.wrapper {
    display:grid;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p{
    font-family: 'Montserrat', sans-serif;


}
h2{
  margin-bottom: 5px;
  text-align: left;
}



.check{
  margin: auto;
}
button{
  width: 120px;
  height: 60px;
  margin: auto;
  background-color: rgb(109, 169, 169);
  border-radius: 5px;
  color:white;
  border:none;
  padding-bottom: 7px;

}

button h2{
  text-align: center;
}

#pop, p{
  text-align: center;
}

b{
  color:red;
}

#text{
  color:white;
  background-color: #5CAE1E;
  height: 60px;
  display: none;
  border-radius: 5px;

}

hr{
  width:100%;
}

#pop {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 60%;
height: 100%;
background-color: #F6F6F3;
display:none;
z-index: 100;
}

#btnpop{
  width:500px;

}

#end {
  border-radius: 100%;
  background-color: rgb(109, 169, 169);
  width:50px;
  height: 50px;
  float:left;
  margin: 10px;

}

#end h1{
  margin: 0px;
  margin-top: 7px;
}

.pic {
  height: 392px;
  width:40%;
  background-image:url("../images/photo-1491438590914-bc09fcaaf77a.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  float:right;
  border-radius: 5px;
}
.about {
  width:200px;

}

.about p{
  line-height: 27px;
  width: 500px;

}

.box{
  width:70%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 900px) {
  .pic {
    display:none;
  }
  #btnpop{
    width:60%;
  }
  .about p{
    width:90%;
  }
}
