* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    }

    /* Typography imported from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

    h1, h2, h3, h4, h5, h6, h7 {
      font-family: 'Montserrat', sans-serif;
    }

    p, a {
      font-family: 'Montserrat', sans-serif;
    }

    /* Generic styles */
    html {
      scroll-behavior: smooth;
    }


/* Styles for the hero image */

/* Her starter Navbar, arbejder stadig på den - Sara */

.logo-img{
  float: left;
  position: relative;
  margin: 10px 15px 10px 10px;
  padding-left: 10px;
}

/* Navbar style */
#navbar {
  overflow: hidden;
  background-color: rgb(109, 169, 169);
  z-index: 99;
}

/* Navbar links */
#navbar a {
  display: inline-block;
  float: right;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin: 10px 15px 10px 10px;
}

#navbar a:hover {
  transition: .0s;
  border-bottom: 2px solid #fff;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.header {
  text-align: center;
  background: none;
  color: white;
  font-size: 30px;
  width: 100%;
  padding: 0;
  filter: brightness(50%);
}

.headertitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* Her slutter Navbar, arbejder stadig på den - Sara */

.hero {
width: auto;
height: 500px;
background-color: rgb(218, 218, 218);

}

.list2 {
height: ;
}


.about {
width: 100%;
height: auto;
background-color: rgb(rgb(47, 35, 35), green, blue);

}


.projects {

}

.contact {

}

.footer{
width: auto;
height: 300px;
text-align: center;
background-color: rgb(239, 180, 79);
}

@media only screen and (max-width: 800px) {
  .headertitle{
    top: 30%;
    left: 50%;
  }
}
