* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    }
    
    /* Typography imported from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    
    h1, h2, h3, h4, h5, h6, h7 {
      font-family: 'Montserrat', sans-serif;
    }
    
    p, a {
      font-family: 'Montserrat', sans-serif;
    }
    
    /* Generic styles */
    html {
      scroll-behavior: smooth;
    }


/* Styles for the hero image */


.nav {
width: auto;
height: 115px;
background-color: rgb(109, 169, 169);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 50%;
}

.nav-area{
  list-style: none;
}

.nav-area li{
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-area li a{
  transition: .3s;
  color: #fff;
}

.nav-area li a:hover{
  color: rgb(109, 169, 169)
}

.hero {
width: auto;
height: 500px;
background-color: rgb(218, 218, 218);

}

.list2 {
height: ;
}


.about {
width: auto;
height: 400px;
background-color: rgb(rgb(47, 35, 35), green, blue);

}


.projects {

}

.contact {

}

.footer{
width: auto;
height: 300px;
text-align: center;
background-color: rgb(239, 180, 79);
}